/* app.css */
#root {
  /* max-width: 1960px; */
  margin: 0 auto;
  padding: 2rem;
  color: black;
  text-align: center;
  background-color: white;
  color-scheme: light only;
}

.button {
  background-color: white;
  color: black;
}