/* app.css */
#root {
  /* max-width: 1960px; */
  margin: 0 auto;
  padding: 2rem;
  color: black;
  text-align: center;
  background-color: white;
  color-scheme: light only;
}

.page-content {
  padding: 4rem;
}

.splash {
  max-width: 100%;
  max-height: auto;
  width: auto\9;
}

.button {
  background-color: white;
  color: black;
}

.button:hover {
  background-color: black;
  color: white;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #ffffff !important;
    color: #000000 !important;
  }
}